
.faq-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:  6rem 80px;
}
#faq-header h2{
    max-width: 900px;
    margin-top: 1rem;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #333333;
}
.faqs {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin-top: 4rem;
    width: 100%;
    max-width: 900px;
}
.faq {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    padding-bottom: 2rem;
    
}
.faq header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.faq header h6 {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #1A1A1A;

}
.faq .open-icon {
    font-size: 24px;
    color: #D85B1D;
}
.faq .close-icon {
    font-size: 24px;
    color: #D85B1D;
}

.faq article {
    max-width: 1000px;
    margin-top: 2rem;
}
.faq article p {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

@media screen and (max-width: 786px) {
    .faq-container {
        padding: 6rem 1rem;
    }
    #faq-header h2{
        font-size: 28px;
    }
    .faq header h6 {
        font-size: 18px;
        font-weight: 500;
    }
    .faq header span {
        max-width: 28px;
        max-height: 28px;
    }
    .faq .open-icon,
    .faq .close-icon {
        font-size: 18px;
    }
    .faq article {
        margin-top: 1rem;
    }
    .faq article p {
        font-size: 16px;
    }
}
