@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&family=Sora:wght@300;400;500;600;700;800&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
}
button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  outline: none;
  border: none;
}

body {
  font-family: 'Sora', sans-serif;
  font-family: 'Manrope', sans-serif;
  width: 100%;
  background: #FFF;
  color: #131212;
  font-size: 16px;
  position: relative;
}
